.terminal {
	background-color: var(--background-color);
	color: var(--text-color);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.terminal-buffer-list {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 1rem;
}

.terminal-input {
	position: absolute;
	bottom: 0;
	outline: 0;
	height: 1rem;
	font-size: inherit;
	font-family: inherit;
	background-color: var(--background-color);
	color: var(--text-color);
	border: 0;
}
