// stolen from
// https://css-tricks.com/old-timey-terminal-styling/
::selection {
	background: #0080ff;
	text-shadow: none;
}

.terminal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: black;
	background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);

	overflow: hidden;
	color: var(--text-color);
	font: 1rem monospace;
	text-shadow: 0 0 5px #c8c8c8;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: repeating-linear-gradient(
			0deg,
			rgba(black, 0.15),
			rgba(black, 0.15) 1px,
			transparent 1px,
			transparent 2px
		);
		pointer-events: none;
	}
}

.terminal-buffer {
	position: absolute;
	bottom: 1.1rem;

	padding: 0;
	margin: 0;
	white-space: pre-wrap;
}

.terminal-buffer-item {
	margin: 0;
}

.input-form {
	display: none;
	grid-template-columns: min-content auto;
	align-items: end;

	caret-color: var(--text-color);

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	outline: 0;

	&.active {
		display: grid;
	}
}

.input-prompt {
	padding-right: 10px;
	white-space: nowrap;
}

.input {
	text-shadow: 0 0 5px #c8c8c8;

	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	color: var(--text-color);
	border: 0;
	outline: none;
	min-width: 0;
}

.item {
	color: #8c8cf3;
}

.place {
	color: #57b486;
}
