.terminal {
	background-color: var(--background-color);
	color: var(--text-color);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.terminal-buffer {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 1.2rem;
	white-space: pre-wrap;
}

.input-form {
	display: grid;

	grid-template-columns: min-content auto;

	align-items: end;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	outline: 0;
}

.input-prompt {
	padding-right: 10px;
	background-color: var(--background-color);
	white-space: nowrap;
}

.input {
	font-size: inherit;
	font-family: inherit;
	background-color: var(--background-color);
	color: var(--text-color);
	border: 0;
	outline: none;
	min-width: 0;
}
